@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
  
    to {
        transform: rotateZ(360deg);
    }
}

@tailwind base;

@layer base {
    *::-webkit-scrollbar {
        display: none
    }

    a {
        @apply text-indigo-600 text-shadow-indigo-300
    }
 
    input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
    }
}

@tailwind components;

@layer components {
    .form-authenticate {
        @apply flex flex-col gap-8 bg-zinc-900 text-zinc-50 z-10 m-4 mobile:rounded-2xl mobile:shadow-2xl mobile:px-7 mobile:py-6 tablette:px-10 tablette:py-9
    }
  }

@tailwind utilities;

@layer utilities {
    .flex-center {
        align-items: center;
        justify-content: center;   
    }

    .text-shadow-indigo-300 {
        text-shadow: #a5b4fc 0px 0 1px;
    }

    .animation-rotate {
        animation: rotate linear 1s infinite;
    }
}